/*-- scss:defaults --*/
// Base document colors
$body-bg: #f7f6f2;
$body-color: #263238;
$link-color: #286c68;
$navbar-bg: #f7f6f2;
$navbar-fg: #243447;
$navbar-hl: #286c68;
$footer-bg: #e9ece8;
$footer-fg: #34454a;


// Code blocks
$code-block-bg-alpha: -.8;
