/*-- scss:defaults --*/
// Base document colors
$body-bg: #111820;
$body-color: #e4e9e8;
$link-color: #82c9c2;
$navbar-bg: #16212b;
$navbar-fg: #e8eeed;
$navbar-hl: #82c9c2;
$footer-bg: #16212b;
$footer-fg: #cbd5d3;


// Code blocks
$code-block-bg-alpha: -.8;
